@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');
nav{

    background: url(background.JPG);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 35vh;
    width: 100vw;
}

nav h1{
    margin: 5px 0 0 20px;
    float: left;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 7.5vmin;
}

nav p{
    float: right;
    margin-right: 30px;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 3.5vmin;
    font-weight: bold;
}

nav p:hover{
    color: black;
}